.caja{
  width: 90px;
  height: 50px;
  border-radius: 7%;
  margin-right: 10%;
}





/*----------------------------------------valoraciones con estrellas--------------------------------------------------*/

.estrellas{ 
  color:black;
}

input[type = "radio"]{
 display:none;
}


  .estrellas:hover{color:blue;}

  .estrellas:hover ~ label{
    color:green;}

  #form {
  width: 500px;
  margin: 0 auto;
  height: 500px;}

#form p {
  text-align: center;}

#form label {
  font-size: 20px;}

input[type="radio"] {
  display: none;}

.clasificacion {
  /direction: ltr;
  unicode-bidi: bidi-override;
  left:3%;
}

label:hover, label:hover ~ label {
  color: blue;
}

input[type="radio"]:checked ~ label {
  color: red;
}

